@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* #FFFFFF  */
    --background-primary: 0 0% 100%;
    /* #F4F4F2 */
    --background-secondary: 60 8% 95%;
    /* #070708 */
    --foreground: 240 10% 3.9%;

    /* #3C5F34 */
    --primary-100: 109 29% 29%;
    /* #324F2B */
    --primary-500: 108 30% 24%;
    /* #3F4A3C */
    --primary-900: 107 10% 26%;

    /* #C3B161 */
    --secondary-100: 49 45% 57%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-backgroundPrimary text-foreground;
  }

  .layout {
    max-width: 80rem;
    @apply mx-auto w-11/12;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-82px)];
  }

  h1 {
    @apply text-3xl font-extrabold text-backgroundPrimary lg:text-5xl;
  }
}
